<div class="items-center">
  <p class="font-bold text-4xl">Home</p>
  <a class="text-1xl text-green-500" href="/categories">categories</a><br>
  <a class="text-1xl text-green-500" href="/operations">operations</a>
</div>
